html {
  height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background: rgba(204, 204, 204, 0.91) url("images/venice.jpg") no-repeat fixed 0% 0% / cover;
  color: #777777;
}

p {
  padding: 0px 0px 20px;
  line-height: 1.7em;
  color: rgba(0, 0, 0, 0.9);
  font-family: "Montserrat";
  font-weight: normal;
  text-align: justify;
}

img {
  border: 0px none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px 0px 15px;
  padding: 15px 0px 5px;
}


h4, h5, h6 {
  margin: 0px;
  padding: 0px 0px 5px;
  font-style: normal;
  font-weight: lighter;
  font-size: 60%;
  line-height: 0%;
  font-size-adjust: none;
  font-stretch: normal;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-language-override: normal;
  font-kerning: auto;
  font-variant: normal;
  color: #068900;
}

h5, h6 {
  padding: 0px 0px 15px;
  color: black;
}

h6 {
  color: #362c20;
}

a, a:hover {
  outline: medium none;
  text-decoration: underline;
  color: #fd5bff;
}

a:hover {
  text-decoration: none;
}

.left {
  float: left;
  width: auto;
  margin-right: 10px;
}

.right {
  float: right;
  width: auto;
  margin-left: 10px;
}

.center {
  display: block;
  text-align: center;
  margin: 20px auto;
}

blockquote {
  margin: 20px 0px;
  padding: 10px 20px 0px;
  border: 1px solid #e5e5db;
  background: white none repeat scroll 0% 0%;
}

ul {
  margin: 2px 0px 22px 17px;
}

ul li {
  list-style-type: circle;
  margin: 0px 0px 6px;
  padding: 0px 0px 4px 5px;
}

ol {
  margin: 8px 0px 22px 20px;
}

ol li {
  margin: 0px 0px 11px;
}

#main, #logo, #menubar, #site_content, #footer {
  margin-left: auto;
  margin-right: auto;
}

#header {
  height: 240px;
  background-color: transparent;
}

#logo {
  width: 825px;
  position: relative;
  height: 168px;
}

#logo h1, #logo h2 {
  border-bottom: 0px none;
  text-transform: none;
  margin: 0px;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover {
  padding: 22px 0px 0px;
  color: #000000;
  letter-spacing: 0.1em;
  text-decoration: none;
}

#logo_text h1 a .logo_colour {
  color: #000000;
}

#logo_text h2 {
  font-size: 100%;
  padding: 4px 0px 0px;
  color: #068900;
}

#menubar {
  width: 900px;
  height: 72px;
  padding: 0px;
  background: transparent url("transparent.png") repeat scroll 0% 0%;
}

ul#menu, ul#menu li {
  float: left;
  margin: 0px;
  padding: 0px;
}

ul#menu li {
  list-style: outside none none;
}

ul#menu li a {
  letter-spacing: 0.1em;
  font: 100% arial sans-serif;
  display: block;
  float: left;
  height: 37px;
  padding: 29px 26px 6px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent none repeat scroll 0% 0%;
}

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover {
  color: white;
  background: #068900 none repeat scroll 0% 0%;
}



#site_content {
  width: 837px;
  overflow: auto;
  margin: 0px auto;
  padding: 20px 24px 20px 37px;
  background: rgba(204, 204, 204, 0.9) url("transparent_light.png") repeat scroll 0% 0%;
}

.sidebar {
  float: right;
  width: 190px;
  padding: 0px 15px 20px;
}

.sidebar ul {
  width: 178px;
  padding: 4px 0px 0px;
  margin: 4px 0px 30px;
}

.sidebar li {
  list-style: outside none none;
  padding: 0px 0px 7px;
}

.sidebar li a, .sidebar li a:hover {
  padding: 0px 0px 0px 40px;
  display: block;
  background: transparent url("link.png") no-repeat scroll left center;
}

.sidebar li a.selected {
  color: #444444;
  text-decoration: none;
}

#content {
  text-align: left;
  width: 595px;
  padding: 0px;
  background-color: transparent;
}

#content ul {
  margin: 2px 0px 22px;
}

#content ul li {
  list-style-type: none;
  background: rgba(0, 0, 0, 0) url("bullet.png") no-repeat scroll 0% 0%;
  margin: 0px 0px 6px;
  padding: 0px 0px 4px 25px;
  line-height: 1.5em;
}

#footer {
  width: 900px;
  height: 33px;
  padding: 24px 0px 5px;
  text-align: center;
  background: transparent url("transparent.png") repeat scroll 0% 0%;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#footer a {
  color: white;
  text-decoration: none;
}

#footer a:hover {
  color: white;
  text-decoration: underline;
}

.search {
  color: #5d5d5d;
  border: 1px solid #bbbbbb;
  width: 134px;
  padding: 4px;
  font: 100% arial sans-serif;
}

#colours {
  height: 0px;
  text-align: right;
  padding: 66px 16px 0px 300px;
}

.form_settings {
  margin: 15px 0px 0px;
}

.form_settings p {
  padding: 0px 0px 4px;
}

.form_settings span {
  float: left;
  width: 200px;
  text-align: left;
}

.form_settings input, .form_settings textarea {
  padding: 5px;
  width: 299px;
  font: 100% arial;
  border: 1px solid #e5e5db;
  background: white none repeat scroll 0% 0%;
  color: #47433f;
}

.form_settings .submit {
  font: 100% arial;
  border: 1px solid;
  width: 99px;
  margin: 0px 0px 0px 212px;
  height: 33px;
  padding: 2px 0px 3px;
  cursor: pointer;
  background: #068900 none repeat scroll 0% 0%;
  color: white;
}

.form_settings textarea, .form_settings select {
  font: 100% arial;
  width: 299px;
}

.form_settings select {
  width: 310px;
}
.OutlineText {
	font-size: 64px;
    color: white;
    text-shadow:
    /* Outline */
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff,  
    -2px 0 0 #ffffff,
    2px 0 0 #ffffff,
    0 2px 0 #ffffff,
    0 -2px 0 #ffffff; /* Terminate with a semi-colon */
}
.form_settings .checkbox {
  margin: 4px 0px;
  padding: 0px;
  width: 14px;
  border: 0px none;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
}

.separator {
  width: 100%;
  height: 0px;
  border-top: 1px solid #d9d5cf;
  border-bottom: 1px solid white;
  margin: 0px 0px 20px;
}

table {
  margin: 10px 0px 30px;
}

table tr th, table tr td {
  background: #3b3b3b none repeat scroll 0% 0%;
  color: white;
  padding: 7px 4px;
  text-align: left;
}

table tr td {
  background: #f0efe2 none repeat scroll 0% 0%;
  color: #47433f;
  border-top: 1px solid white;
}

#subheading {
  font-size: 180%;
  color:#1a8f35;
}

#heading {
  color:#000000;
  font-size: 270%;
  font-weight: bold;
  font-family: "Lora";
  padding: 30px 0px;
}
