html {
  height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background: rgba(204, 204, 204, 0.91)  no-repeat fixed 0% 0% / cover;
  color: #777777;
}

p {
  padding: 0px 0px 20px;
  line-height: 1.7em;
  color: rgba(0, 0, 0, 0.9);
  font-family: "Montserrat";
  font-weight: normal;
  text-align: justify;
}

img {
  border: 0px none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px 0px 15px;
  padding: 15px 0px 5px;
}


h4, h5, h6 {
  margin: 0px;
  padding: 0px 0px 5px;
  font-style: normal;
  font-weight: lighter;
  font-size: 60%;
  line-height: 0%;
  font-size-adjust: none;
  font-stretch: normal;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-language-override: normal;
  font-kerning: auto;
  font-variant: normal;
  color: #068900;
}

h5, h6 {
  padding: 0px 0px 15px;
  color: black;
}

h6 {
  color: #362c20;
}

a, a:hover {
  outline: medium none;
  text-decoration: underline;
  color: #fd5bff;
}

a:hover {
  text-decoration: none;
}

.left {
  float: left;
  width: auto;
  margin-right: 10px;
}

.right {
  float: right;
  width: auto;
  margin-left: 10px;
}

.center {
  display: block;
  text-align: center;
  margin: 20px auto;
}

blockquote {
  margin: 20px 0px;
  padding: 10px 20px 0px;
  border: 1px solid #e5e5db;
  background: white none repeat scroll 0% 0%;
}

ul {
  margin: 2px 0px 22px 17px;
}

ul li {
  list-style-type: circle;
  margin: 0px 0px 6px;
  padding: 0px 0px 4px 5px;
}

ol {
  margin: 8px 0px 22px 20px;
}

ol li {
  margin: 0px 0px 11px;
}

#main, #logo, #menubar, #menubar2, #site_content, #footer {
  margin-left: auto;
  margin-right: auto;
}

#header {
  height: 240px;
  background-color: transparent;
}

#logo {
  width: 825px;
  position: relative;
  height: 168px;
}

#logo h1, #logo h2 {
  border-bottom: 0px none;
  text-transform: none;
  margin: 0px;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover {
  padding: 22px 0px 0px;
  color: #000000;
  letter-spacing: 0.1em;
  text-decoration: none;
}

#logo_text h1 a .logo_colour {
  color: #000000;
}

#logo_text h2 {
  font-size: 100%;
  padding: 4px 0px 0px;
  color: #068900;
}

#menubar {
  width: 897px;
  height: 72px;
  padding: 0px;
  background: rgba(0, 0, 0, 0.35) url("transparent.png") repeat scroll 0% 0%;
}
#menubar2 {
  width: 897px;
  height: 54px;
  padding: 0px;
  background: rgba(0,200,20,0.7)  url("transparent.png") repeat scroll 0% 0%;
}

ul#menu, ul#menu li {
  float: left;
  margin: 0px;
  padding: 0px;
}

ul#menu li {
  list-style: outside none none;
}

ul#menu li a {
  letter-spacing: 0.1em;
  font: 100% arial sans-serif;
  display: block;
  float: left;
  height: 37px;
  padding: 29px 26px 6px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent none repeat scroll 0% 0%;
}

ul#menu2, ul#menu2 li {
  float: left;
  margin: 0px;
  padding: 0px;
}

ul#menu2 li {
  list-style: outside none none;
}

ul#menu2 li a {
  letter-spacing: 0.1em;
  font: 90% arial sans-serif;
  display: block;
  float: left;
  height: 30px;
  padding: 20px 23px 4px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent none repeat scroll 0% 0%;
}
ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover {
  color: white;
  background:#539164 none repeat scroll 0% 0%;
}

ul#menu2 li a:hover, ul#menu2 li.selected a, ul#menu2 li.selected a:hover {
  color: white;
  background: #539164 none repeat scroll 0% 0%;
}



#site_content {
  width: 837px;
  overflow: hidden;
  margin: 0px auto;
  padding: 20px 24px 20px 37px;
  background: rgba(234, 234, 234, 0.95) url("transparent_light.png") repeat scroll 0% 0%;
}

.sidebar {
  float: right;
  width: 190px;
  padding: 0px 15px 20px;
}

.sidebar ul {
  width: 178px;
  padding: 4px 0px 0px;
  margin: 4px 0px 30px;
}

.sidebar li {
  list-style: outside none none;
  padding: 0px 0px 7px;
}

.sidebar li a, .sidebar li a:hover {
  padding: 0px 0px 0px 40px;
  display: block;
  background: transparent url("link.png") no-repeat scroll left center;
}

.sidebar li a.selected {
  color: #444444;
  text-decoration: none;
}

#content {
  text-align: left;
  width: 595px;
  padding: 0px;
  background-color: transparent;
}

#content ul {
  margin: 2px 0px 22px;
}

#content ul li {
  list-style-type: none;
  background: rgba(0, 0, 0, 0) url("bullet.png") no-repeat scroll 0% 0%;
  margin: 0px 0px 6px;
  padding: 0px 0px 4px 25px;
  line-height: 1.5em;
}

#footer {
  width: 900px;
  height: 33px;
  padding: 24px 0px 5px;
  text-align: center;
  background: transparent url("transparent.png") repeat scroll 0% 0%;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#footer a {
  color: white;
  text-decoration: none;
}

#footer a:hover {
  color: white;
  text-decoration: underline;
}

#colours {
  height: 0px;
  text-align: right;
  padding: 66px 16px 0px 300px;
}

table {
  margin: 10px 0px 30px;
}

table tr th, table tr td {
  background: #3b3b3b none repeat scroll 0% 0%;
  color: white;
  padding: 7px 4px;
  text-align: left;
}

table tr td {
  background: #f0efe2 none repeat scroll 0% 0%;
  color: #47433f;
  border-top: 1px solid white;
}

#subheading {
  font-size: 180%;
  color:#1a8f35;
}
#blogimages {
  text-align:center;
  margin:20px auto;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#heading {
  color:#000000;
  font-size: 270%;
  font-weight: bold;
  font-family: "Lora";
  padding: 30px 0px;
}

.dropbtnselected {
  font-size: 16px;
  border: none;
  cursor: pointer;
  
  letter-spacing: 0.1em;
  font: 100% arial sans-serif;
  display: block;
  padding: auto;
  text-align: center;
  color: white;
  text-transform: uppercase;
  background:#539164 none repeat scroll 0% 0%;
}

.dropbtn {
  font-size: 16px;
  border: none;
  cursor: pointer;
  
  letter-spacing: 0.1em;
  font: 100% arial sans-serif;
  display: block;
  padding: auto;
  text-align: center;
  color: white;
  text-transform: uppercase;
  background: transparent none repeat scroll 0% 0%;
}


/* The container <div> - needed to position the dropdown content */
.dropdown{
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {display: block;}

#dropdownlink {
  background:rgba(0, 0, 0, 0.35) url("transparent.png") repeat scroll 0% 0% !important;
}
      
#dropdownlink:hover{
  color: white;
  background:#539164 none repeat scroll 0% 0% !important;
}

#dropdownlinkselected{
  color: white;
  background:#539164 none repeat scroll 0% 0% !important;
}

